@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Header */

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: var(--crimson);
}

.cabecalho > .header-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    gap: 20px;
    cursor: default;
    color: var(--snow);
    font-family: "Poppins", sans-serif;
}

.cabecalho > .header-contato > .header-contato-phone, header > .header-contato > .header-contato-endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}	

.cabecalho > .header-contato > .header-contato-phone p, header > .header-contato > .header-contato-endereco p { 
    font-size: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    width: 100%;
    height: 80px;
    background: var(--charcoal);
    -webkit-box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.25);
}

.navbar > .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar > .navbar-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar > .navbar-logo p {
    color: var(--snow);
    cursor: default;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.navbar > .navbar-menu ul{
    display: flex;
    gap: 25px;
    font-family: "Poppins", sans-serif;
}

.navbar > .navbar-menu ul > li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    color: var(--snow);
    transition: all 0.55s ease;
}

 .navbar > .navbar-menu ul > li a:hover {
    color: var(--crimson);
}

.cabecalho >  .navbar > .navbar-contato {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 5px;
    background: var(--crimson);
    padding: 10px 10px;  
    border-radius: 12px;
    transition: all 0.5s ease;
}

.cabecalho >  .navbar > .navbar-contato i{
    color: var(--crimson);
    background: var(--snow);
    padding: 5px;
    border-radius: 50%; 
}

.cabecalho >  .navbar > .navbar-contato a{
    color: var(--snow);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.cabecalho >  .navbar > .navbar-contato:hover {
    transform: scale(1.05);
}


.main {
    display: flex;
    width: 100%;
    height: 50dvh;
    margin-top: 110px;
    background: var(--silver);
}

/* Serviços */
.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background: var(--midnight);
}

.servicos > .container-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
    gap: 30px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.servicos > .container-servicos > .card-servico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    gap: 10px;
    width: 300px;
    height: 350px;
    padding: 20px;
    color: var(--snow);
    cursor: default;
    background: var(--charcoal);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicos > .container-servicos > .card-servico:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.servicos > .container-servicos > .card-servico i {
    font-size: 36px;
    color: var(--crimson);
    margin-bottom: 10px; 
}

.servicos > .container-servicos > .card-servico h1 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.servicos > .container-servicos > .card-servico p {
    font-size: 16px;
    line-height: 1.5; 
}

/* Sobre Nós */
.sobre-nos{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70dvh;
    background: url(../img/foto-oficina.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre-nos::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.3) 65%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.sobre-nos > .cta-sobre-nos {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100dvh;
}

.sobre-nos > .cta-sobre-nos > .text-sobre-nos{
    color: var(--snow);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 50%;
    gap: 30px;
    padding: 0 4%;
}

.sobre-nos > .cta-sobre-nos > .text-sobre-nos h1{
    font-size: 40px;
    text-transform: uppercase;
}

.sobre-nos > .cta-sobre-nos > .text-sobre-nos hr {
    width: 200px;
    height: 5px;
    background: var(--crimson);
    border: none;
}

.sobre-nos > .cta-sobre-nos > .text-sobre-nos p{
    
    text-align: justify;
    font-size: 18px;
}

/* Contato */
.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 4%;
    width: 100%;
    height: 80dvh;
    background: var(--midnight);
}

.contato > form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 25px;
    gap: 15px;  
    width: 400px;  
    height: 400px;
    color: var(--snow);
    background: var(--charcoal);
    border-radius: 12px;
}

.contato > form h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.contato input, .contato select {
    color: var(--snow);
    background: var(--charcoal);
    border: 1px solid var(--silver);
    border-radius: 12px;
    padding: 10px;
}

.contato input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--charcoal) inset;
    color: var(--snow);
}

.contato input::placeholder {
    font-size: 12px;
    color: var(--silver); 
}

.contato button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: var(--snow);
    background: var(--charcoal);
    border: 1px solid var(--silver);
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    transition: all 0.55s ease;
}

.contato button:hover {
    color: var(--charcoal);
    background-color: var(--snow);
}

.contato > iframe{
    width: 400px;
    height: 400px;
    border: 5px solid var(--silver);
    border-radius: 12px;
}

option {
    background-color: var(--charcoal);
    color: var(--crimson); 
}

textarea { 
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100px;
    padding: 5px;
    color: var(--snow);
    background: var(--charcoal);
    border: 1px solid var(--silver);
}

textarea::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
    cursor: pointer; 
}

textarea::-webkit-scrollbar-track {
    background: transparent;  
}

textarea::-webkit-scrollbar-thumb {
    background: var(--crimson);  
}
















